<h1>Discs</h1>
<a href="/discs"> Disc Index</a>

<% @discs.each do |disc| %>
  <h3><%= disc.mold_name %></h3>
  <p>does it hyzer? <%= disc.overstable %></p>
  <p>Speed: <%= disc.speed %></p>
<% end %>
