<h1>manufactuers</h1>
<a href="/manufacturers"> Manufactuer Index</a>
<a href="/discs"> Disc Index</a>

<% @manufacturers.each do |m| %>
<h3><%= m.name %>, created at <%= m.created_at %></h3>
<% end %>
