<h1>manufactuers</h1>
<% @manufacturers.each do |m| %>
  <h3><%= m.name %></h3>
  <p>it's <%= m.is_american %>, we're based in the USA</p>
  <p>we are proud to sponsor <%= m.num_pros %> pro golfers</p>
<% end %>